services:
  - type: web
    name: portfolio-backend
    env: node
    root: backend
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: MONGO_URI
        sync: false